DJANGO_DEBUG=True
DJANGO_SECRET_KEY=<result from `python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'`>
CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1
ALLOWED_HOSTS=localhost,127.0.0.1

# Database configuration
#DB_NAME=<gcp database name>
#DB_USER=
#DB_HOST=<gcp database internal ip address>
#DB_PASS=

# Google Cloud Storage configuration
#GS_BUCKET_NAME=<gcp bucket name>

# Cache configuration
CACHE_URL=memcache://127.0.0.1:11211,127.0.0.1:11212,127.0.0.1:11213