/* Global CSS Variable declarations */
.root{
  --intro-container-bg-color: #FFFFFF;
  --intro-container-bg-image: none;
  --card-container-bg-color: #ffffff;
  --card-container-bg-image: none;
  --navbar-justify: center;
  --navbar-bg-color: #ffffff;
  --navbar-bg-image: none;
  --navlink-bg-color: gray;
  --navlink-bg-image: none;
}

/* Basic Reset and Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

.navbar ul {
    background: var(--navbar-bg-color);
    background-color: var(--navbar-bg-color);
    background-image: var(--navbar-bg-image);
    display: flex;
    flex-wrap: wrap;
    gap: clamp(2rem, 5vw, 3.5rem);
    padding: 1.25em;
    width: 100%;
    object-fit: cover;
    background-position: top;
    align-items: flex-end;
    justify-content: var(--navbar-justify);
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.navbar li a:hover {
    filter: brightness(0.8);
}

.nav-link li {
    background-color: var(--navlink-bg-color);
    color: var(--navlink-text-color);
    display: flex;         
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.nav-link a {
    font-size: clamp(0.6rem, 0.5vw + 0.5rem, 0.75rem); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
}

.nav-link img {
    width: clamp(2rem, 4vw + 1rem, 3rem);
    object-fit: cover;
    display: block; 
    margin: 0 auto 0.3125em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
    justify-content: center;
    padding: 1.25em;
    background-color: var(--card-container-bg-color);
    background-image: var(--card-container-bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border: none;
    border-image: none;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    background-position: top;
}

.body-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    padding: 1.25em;
    background-color: var(--body-container-bg-color);
    background-image: var(--body-container-bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    border: none;
    border-image: none;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    background-position: top;
}

.body-container ul {
    margin-left: 2.5em;
}

.intro-container {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    justify-content: center;
    padding: 1.25em;
    background-color: var(--intro-container-bg-color);
    background-image: var(--intro-container-bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border: none;
    border-image: none;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    background-position: bottom;
}

.footer-content {
    --bg: var(--intro-container-bg-color);
    background-color: var(--bg);
    min-height: 10em;
    display: block;
    width: 100%;
    padding: 1.25em; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(0.6rem, 0.5vw + 0.5rem, 0.75rem); 
    color: oklch(from var(--bg) clamp(0, (l - 0.5) * -100, 1) 0 h);
}

.footer-content::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--intro-container-bg-color);
    /*opacity: 0.5;*/
}
