{% load static %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
    <title>Your Name Dev Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}" />
    </head> 
    <body>
        {% include "header.html" %}
        <div>
            {% block content %}
            {% endblock %}
        </div>
        {% include "footer.html" %}
    </body>
</html>
