{% load static %}
{% load email_helpers %}
<header>
    {% if links and links_position == 'pre_header' %}
        {% include "nav.html" %}
    {% endif %}
    {% if intro %}
        <div class="intro-container"style="
                {% if intro.bgimage %}
                    --intro-container-bg-image: url('{{ intro.bgimage.url }}');
                {% endif %}">
            {{ intro.content_html|protect_email }}
        </div>
    {% endif %}
    {% if links and links_position == 'post_header' %}
        {% include "nav.html" %}
    {% endif %}
</header>
