{% load static %}
{% load email_helpers %}
{% load webp_tags %}
<header>
    {% if links and links_position == 'pre_header' %}
        {% include "nav.html" %}
    {% endif %}
    {% if intro %}
        <div class="intro-container"
            {% if intro.bgimage.image %}
                data-var-name="--intro-container-bg-image" 
                data-img="{{ intro.bgimage.image.url }}" 
                data-webp="{{ intro.bgimage.image.url|to_webp }}"
            {% endif %}>
            {{ intro.content_html|protect_email }}
        </div>
    {% endif %}
    {% if links and links_position == 'post_header' %}
        {% include "nav.html" %}
    {% endif %}
</header>
