{% load static %}
<nav class="navbar">
    <ul class="navbar"style="--navbar-justify: {{ links_justify }}; --navbar-bg-color: {{ links_bgcolor }};
                {% if links_bgimage_url %}
                    --navbar-bg-image: url('{{ links_bgimage_url }}');
                {% endif %}">
        {% for link in links %}
            <li class="nav-link"style="--navlink-bg-color: {{ link.bgcolor }};
                {% if link.bgimage %}
                    --navlink-bg-image: url('{{ link.bgimage.url }}');
                {% endif %};">
                <a class="nav-link" href="{{ link.url }}" target="_self" alt="{{ link.text }}" title="{{ link.text }}">
                    {% if link.icon %}
                        <img class="nav-link" src="{{ link.icon.url }}" alt="{{ link.text }}" title="{{ link.text }}">
                    {% else %}
                        {{ link.text }} 
                    {% endif %}                
                </a>
                {% if link.icon %}
                    <span>{{ link.text }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
