{% extends "base.html" %}
{% block content %}
{% if card_list %}
    <div>
        {% for card in card_list %}
            <div class="card-container"style="--card-container-bg-color: {{ card.bgcolor }};
                {% if card.bgimage %}
                    --card-container-bg-image: url('{{ card.bgimage.url }}');
                {% endif %}">    
                {% include "body/card.html" with object=card %}
            </div>      
        {% endfor %}
    </div>
{% endif %}
{% if links and links_position == 'post_card' %}
    {% include "nav.html" %}
{% endif %}
{% if body_data %}
    <div class="body-container"style="--body-container-bg-color: {{ body.bgcolor }};
        {% if body.bgimage %}
            --body-container-bg-image: url('{{ body.bgimage.url }}');
        {% endif %}">
        {{ body_data.content_html }}
    </div>
{% endif %}
{% if body_list %}
    {% for body in body_list %}
        <div class="body-container"style="--body-container-bg-color: {{ body.bgcolor }};
            {% if body.bgimage %}
                --body-container-bg-image: url('{{ body.bgimage.url }}');
            {% endif %}">
            {{ body.content_html }}
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}
