<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front"style="--card-front-bg-color: {{ card.front.bgcolor }}; 
        {% if card.front.bgimage %}
            --card-front-bg-image: url('{{ card.front.bgimage.url }}');
        {% endif %}">
        {{ card.front.content|safe }}      
    </div>
    <div class="flip-card-back"style="--card-back-bg-color: {{ card.back.bgcolor }};
        {% if card.back.bgimage %}
            --card-back-bg-image: url('{{ card.back.bgimage.url }}');
        {% endif %}">
        {{ card.back.content|safe }}      
    </div>
  </div>
</div>
